@page "/apitest"
@using HomesteadManagerUi.Services
@inject NavigationManager _nav
@inject ApiService api

<h3>APITest</h3>

@if (String.IsNullOrEmpty(message))
{
    <p>Loading...</p>
}
else
{
    <p>@message</p>
}

@code {
    private string message;

    protected override async Task OnInitializedAsync()
    {
        message = await api.GetHelloWorld();
    }
}
