@page "/homesteads/{id}"
@inject HttpClient Http
<PageTitle>Home</PageTitle>

<h1>@homestead.Name</h1>

@code {
    [Parameter]
    public string? id { get; set; }
    public Homestead? homestead = new();
    protected override async Task OnInitializedAsync() =>
        homestead = await Http.GetFromJsonAsync<Homestead>("api/Homestead/" + id);
}