@page "/"

<PageTitle>Home</PageTitle>

<h1>Homesteads</h1>

<ul>
    @foreach (var hs in homesteads)
    {
        <li>@hs.Name</li>
    }
</ul>

<form @onsubmit="AddHomestead">
    <input placeholder="Homestead Name" @bind="newHomesteadName" />
    <button>Add Homestead</button>
</form>

@code {
    private string? newHomesteadName;
    private List<Homestead> homesteads = new();

    private void AddHomestead()
    {
        if (!string.IsNullOrWhiteSpace(newHomesteadName))
        {
            homesteads.Add(new Homestead { Guid = Guid.NewGuid(), Name = newHomesteadName });
            newHomesteadName = string.Empty;
        }
    }
}