@page "/"
@inject NavigationManager _nav
@inject HttpClient Http
<style>
    .homestead-card {
        cursor: pointer;
        width: 18rem;
        margin-bottom: 10px;
    }

    .homestead-card:hover {
        background-color: gray;
    }
</style>
<PageTitle>Home</PageTitle>

<h1>Homesteads</h1>

@foreach (var hs in homesteads)
{
    <MudCard @onclick="@(()=>_nav.NavigateTo("/homesteads/" + @hs.Id))" Class="homestead-card">
        <MudCardContent>
            <MudText>@hs.Name</MudText>
        </MudCardContent>
    </MudCard>

}

<form @onsubmit="AddHomestead">
    <MudTextField T="string" Label="Homestead Name" @bind-value="newHomesteadName"></MudTextField>
</form>

@code {
    public string? newHomesteadName;
    private List<Homestead> homesteads = new();


    protected override async Task OnInitializedAsync() =>
    homesteads = await Http.GetFromJsonAsync<List<Homestead>>("api/Homestead") ?? [];

    private void AddHomestead()
    {
        if (!string.IsNullOrWhiteSpace(newHomesteadName))
        {
            var homestead = new Homestead { Id = Guid.NewGuid().ToString(), Name = newHomesteadName };
            homesteads.Add(homestead);
            Http.PostAsJsonAsync<Homestead>("api/Homestead", homestead);
        }
    }
}
